  

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Comanda pizza: {{nomPizza | uppercase}}</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
        </div>
        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            This week
        </button>
        </div>
    </div>

   
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="assets/images/pizzes/{{nomPizza}}.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                  <button (click)="demanarPizza()" class="btn btn-primary" [disabled]="desactiva">Demanar!</button>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <h3 id="missatge" class="mt-4"></h3>

            <div class="progress" *ngIf="pBarFlag">
                <div class="progress-bar bg-{{pBarColor}}" role="progressbar" [style.width]="getPercent"></div>
            </div>


            <div class="mt-5">

                <img [src]="rutaEstat" alt="" width="290"/>
            </div>

        </div>
    </div>

</main>
