
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">{{getTitle}}</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
        </div>
        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            This week
        </button>
        </div>
    </div>

    <div class="row" *ngIf="servei.productesFiltre">
        <div class="col-md-4 mb-3" *ngFor="let prod of servei.productesFiltre">
            <div routerLink="/dashboard/productes/detall/{{prod.cod}}" class="card" style="width: 18rem;">
                <img src="assets/images/productos/{{prod.url}}.jpg" class="card-img-top" alt="{{prod.titulo}}">
                <div class="card-body">
                  <h5 class="card-title">{{prod.titulo}}</h5>
                  <p class="card-text">{{prod.categoria}}</p>
                </div>
              </div>
        </div>
    </div>

</main>